<select ng-model="selectedType" ng-options="x for x in vm.types">
 </select>
<input type="text" ng-model="query">
<button class="btn-default" ng-click="vm.callSWAPI(selectedType, query)">Search</button>

<!-- Films -->
<div class="card" id="films" ng-if="selectedType == 'Films'" ng-repeat="film in vm.swapi.result">
    <h2>Films</h2>
    <strong><p>Film title:</p></strong>
    <p>{{film.title}}</p>
    <strong><p>Episode #:</p></strong>
    <p>{{film.episode_id}}</p>
    <strong><p>Director:</p></strong>
    <p>{{film.director}}</p>
    <button class="fa fa-star"></button>
</div>

<!-- People -->
<div class="card" id="people" ng-if="selectedType == 'People'" ng-repeat="person in vm.swapi.result">
        <h2>People</h2>
        <strong><p>Name:</p></strong>
        <p>{{person.name}}</p>
        <strong><p>Birth year:</p></strong>
        <p>{{person.birth_year}}</p>
        <strong><p>Gender:</p></strong>
        <p>{{person.gender}}</p>
        <strong><p>Eye color:</p></strong>
        <p>{{person.eye_color}}</p>
    </div>
<!-- Planets -->
<div class="card" id="planets" ng-if="selectedType == 'Planets'" ng-repeat="planet in vm.swapi.result">
        <h2>Planets</h2>
        <strong><p>Planet name:</p></strong>
        <p>{{planet.name}}</p>
        <strong><p>Population:</p></strong>
        <p>{{planet.population | number:0}}</p>
        <strong><p>Terrain:</p></strong>
        <p>{{planet.terrain}}</p>
    </div>
<!-- Species -->
<div class="card" id="species" ng-if="selectedType == 'Species'" ng-repeat="species in vm.swapi.result">
        <h2>Species</h2>
        <strong><p>Name of species:</p></strong>
        <p>{{species.name}}</p>
        <strong><p>Classification:</p></strong>
        <p>{{species.classification}}</p>
        <strong><p>Language:</p></strong>
        <p>{{species.language}}</p>
    </div>
<!-- Starships -->
<div class="card" id="starships" ng-if="selectedType == 'Starships'" ng-repeat="starship in vm.swapi.result">
        <h2>Starships</h2>
        <strong><p>Name:</p></strong>
        <p>{{starship.name}}</p>
        <strong><p>Model:</p></strong>
        <p>{{starship.model}}</p>
        <strong><p>Manufacturer:</p></strong>
        <p>{{starship.manufacturer}}</p>
        <strong><p>Class:</p></strong>
        <p>{{starship.class}}</p>
    </div>
<!-- Vehicles -->
<div class="card" id="vehicles" ng-if="selectedType == 'Vehicles'" ng-repeat="vehicle in vm.swapi.result">
        <h2>Vehicles</h2>
        <strong><p>Name:</p></strong>
        <p>{{vehicle.name}}</p>
        <strong><p>Model:</p></strong>
        <p>{{vehicle.model}}</p>
        <strong><p>Manufacturer:</p></strong>
        <p>{{vehicle.manufacturer}}</p>
    </div>

